In [0]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType
from pyspark.sql import functions as F

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "",
"fs.azure.account.oauth2.client.secret": '',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/<tenant ID>/oauth2/token"}

dbutils.fs.mount(
source = "abfss://companies-financialdata@dataengineeringpipeline.dfs.core.windows.net",
mount_point = "/mnt/WorldTopCompaniesFinancialAnalysis",
extra_configs = configs)

True

In [0]:
%fs
ls "/mnt/WorldTopCompaniesFinancialAnalysis"

path,name,size,modificationTime
dbfs:/mnt/WorldTopCompaniesFinancialAnalysis/raw-data/,raw-data/,0,1729352214000
dbfs:/mnt/WorldTopCompaniesFinancialAnalysis/transformed-data/,transformed-data/,0,1729352228000

In [0]:
spark

In [0]:
companies_ranked_by_dividend_yield = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/WorldTopCompaniesFinancialAnalysis/raw-data/companies_ranked_by_dividend_yield")
companies_ranked_by_earnings = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/WorldTopCompaniesFinancialAnalysis/raw-data/companies_ranked_by_earnings")
companies_ranked_by_market_cap = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/WorldTopCompaniesFinancialAnalysis/raw-data/companies_ranked_by_market_cap")
companies_ranked_by_P_E_ratio = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/WorldTopCompaniesFinancialAnalysis/raw-data/companies_ranked_by_P_E_ratio")
companies_ranked_by_revenue = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/WorldTopCompaniesFinancialAnalysis/raw-data/companies_ranked_by_revenue")

In [0]:
companies_ranked_by_dividend_yield.show()

+----+--------------------+--------+------------------+-------------+-------------+
|Rank|                Name|  Symbol|dividend_yield_ttm|  price (GBP)|      country|
+----+--------------------+--------+------------------+-------------+-------------+
|   1|             LianBio|    LIAN|          300940.0|   0.24306524|United States|
|   2|      Richter Gedeon|  RIG2.F|          150430.0| 23.726824832|      Hungary|
|   3|         Delek Group|DLEKG.TA|          117114.0|   87.7358842|       Israel|
|   4|LMP Automotive Ho...|    LMPX|          106250.0|    0.1219136|United States|
|   5|                MBIA|     MBI|           22346.4|    2.7278168|United States|
|   6|             trivago|    TRVG|           16142.9|    1.3258104|      Germany|
|   7|Arab Insurance Group| ARIG.BH|           10612.9|      0.38098|      Bahrain|
|   8|       TRxADE HEALTH|    MEDS|           10540.2|    5.7832764|United States|
|   9|Merrimack Pharmac...|    MACK|           9980.17|   11.5284548|United States|
|  10|               Lufax|      LU|            7621.3|    2.7659148|        China|
|  11|   SM Prime Holdings|   SPHXF|           7521.74|    0.3505016|  Philippines|
|  12|      Tourmaline Bio|    TRML|            6047.2|    18.744216|United States|
|  13|              Méliuz|CASH3.SA|           6005.26|0.56005431528|       Brazil|
|  14|   LENZ Therapeutics|    LENZ|           5998.34|    18.363236|United States|
|  15|Bahrain National ...|  BNH.BH|           5833.35|0.12129869828|      Bahrain|
|  16|  B. Riley Financial|    RILY|           5655.04|    3.8936156|United States|
|  17|    Emperador Brandy|  EMI.SI|            5329.6|0.25446644748|  Philippines|
|  18|         Danske Bank| DANS.VI|           5272.65|  22.72202818|      Denmark|
|  19|          FutureFuel|      FF|           4875.44|  4.272004936|United States|
|  20|        J-Long Group|      JL|           4811.34|   0.29792636|    Hong Kong|
+----+--------------------+--------+------------------+-------------+-------------+
only showing top 20 rows

In [0]:
companies_ranked_by_dividend_yield.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- dividend_yield_ttm: double (nullable = true)
 |-- price (GBP): string (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_dividend_yield = companies_ranked_by_dividend_yield.withColumn("Rank", col("Rank").cast(IntegerType()))\
    .withColumn("price (GBP)", col("price (GBP)").cast(DoubleType()))

In [0]:
companies_ranked_by_dividend_yield.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- dividend_yield_ttm: double (nullable = true)
 |-- price (GBP): double (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_earnings.show()

+----+--------------------+---------+------------+-------------+-------------+
|Rank|                Name|   Symbol|earnings_ttm|  price (GBP)|      country|
+----+--------------------+---------+------------+-------------+-------------+
|   1|        Saudi Aramco|  2222.SR|  2.28378E11| 5.5054048272| Saudi Arabia|
|   2|               Apple|     AAPL|  1.21625E11| 176.73433612|United States|
|   3|           Microsoft|     MSFT|  1.07787E11|   326.461762|United States|
|   4|   Alphabet (Google)|     GOOG|  1.01821E11|  126.2796308|United States|
|   5|  Berkshire Hathaway|    BRK-B|   8.8904E10|   347.625201|United States|
|   6|      JPMorgan Chase|      JPM|   6.8787E10|  158.0152648|United States|
|   7|              NVIDIA|     NVDA|   6.1372E10|  92.21697096|United States|
|   8|Meta Platforms (F...|     META|   6.0646E10|   433.593338|United States|
|   9|                ICBC|  1398.HK|  5.79046E10|0.45355592804|        China|
|  10|              Amazon|     AMZN|   5.6855E10|  143.4999268|United States|
|  11|China Constructio...|601939.SS|  5.36375E10| 0.8525799028|        China|
|  12|         Exxon Mobil|      XOM|   5.0358E10|   87.8692272|United States|
|  13|              Toyota|       TM|  4.77173E10| 136.14929868|        Japan|
|  14|China Pacific Ins...|601601.SS|  4.60097E10| 4.2037866572|        China|
|  15|Agricultural Bank...|601288.SS|  4.30148E10|0.51606560252|        China|
|  16|       Bank of China|601988.SS|  4.03718E10|0.53756811372|        China|
|  17|                TSMC|      TSM|  3.73297E10|  134.0059052|       Taiwan|
|  18|          PetroChina|601857.SS|  3.72276E10| 0.9697693508|        China|
|  19|       TotalEnergies|      TTE|   3.6607E10|   49.6074058|       France|
|  20|             Equinor|     EQNR|   3.2331E10|   19.1290058|       Norway|
+----+--------------------+---------+------------+-------------+-------------+
only showing top 20 rows

In [0]:
companies_ranked_by_earnings.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- earnings_ttm: double (nullable = true)
 |-- price (GBP): string (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_earnings = companies_ranked_by_earnings.withColumn("Rank", col("Rank").cast(IntegerType()))\
    .withColumn("price (GBP)", col("price (GBP)").cast(DoubleType()))

In [0]:
companies_ranked_by_earnings.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- earnings_ttm: double (nullable = true)
 |-- price (GBP): double (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_market_cap.show()

+----+--------------------+-------+------------------+------------+-------------+
|Rank|                Name| Symbol|         marketcap| price (GBP)|      country|
+----+--------------------+-------+------------------+------------+-------------+
|   1|               Apple|   AAPL|2.6899026940841E12| 176.9194924|United States|
|   2|           Microsoft|   MSFT|2.4271696214308E12|  326.537958|United States|
|   3|              NVIDIA|   NVDA|2.2593533390304E12|  92.1057248|United States|
|   4|   Alphabet (Google)|   GOOG|1.5498145079388E12| 126.4586914|United States|
|   5|              Amazon|   AMZN|1.5060378801249E12| 143.4923072|United States|
|   6|        Saudi Aramco|2222.SR|1.3485430118996E12|5.5054048272| Saudi Arabia|
|   7|Meta Platforms (F...|   META|1.0957564718612E12|  433.136162|United States|
|   8|  Berkshire Hathaway|  BRK-B|7.4922956107809E11| 347.6671088|United States|
|   9|                TSMC|    TSM|6.9524190891344E11| 134.0592424|       Taiwan|
|  10|               Tesla|   TSLA|6.3994793594454E11|  200.319284|United States|
|  11|            Broadcom|   AVGO| 6.096216685124E11|  130.523748|United States|
|  12|           Eli Lilly|    LLY|5.9963455633621E11| 665.9454204|United States|
|  13|             Walmart|    WMT|4.9056785493131E11|  61.0291862|United States|
|  14|      JPMorgan Chase|    JPM|4.4885637249892E11|157.76153212|United States|
|  15|                Visa|      V|4.0830117872796E11| 209.8285448|United States|
|  16|        UnitedHealth|    UNH|4.0804313542689E11| 441.8834628|United States|
|  17|             Tencent|  TCEHY|4.0168992708887E11|  43.7136452|        China|
|  18|        Novo Nordisk|    NVO|3.9478852342252E11|    89.72079|      Denmark|
|  19|         Exxon Mobil|    XOM|3.9069271333667E11|  87.9378036|United States|
|  20|              Oracle|   ORCL| 3.563894081441E11| 128.6112284|United States|
+----+--------------------+-------+------------------+------------+-------------+
only showing top 20 rows

In [0]:
companies_ranked_by_market_cap.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- marketcap: double (nullable = true)
 |-- price (GBP): string (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_market_cap = companies_ranked_by_market_cap.withColumn("Rank", col("Rank").cast(IntegerType()))\
    .withColumn("price (GBP)", col("price (GBP)").cast(DoubleType()))

In [0]:
companies_ranked_by_market_cap.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- marketcap: double (nullable = true)
 |-- price (GBP): double (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_P_E_ratio.show()

+----+--------------------+-------+------------+------------+--------------+
|Rank|                Name| Symbol|pe_ratio_ttm| price (GBP)|       country|
+----+--------------------+-------+------------+------------+--------------+
|   1|  Imperial Petroleum|   IMPP|    0.109943|   3.1087968|        Greece|
|   2|       Vertex Energy|   VTNR|    0.188889|  0.09219716| United States|
|   3|         Spin Master| TOY.TO|    0.224758|17.414443408|        Canada|
|   4|Performance Shipping|   PSHG|    0.225293|  1.46791594|        Greece|
|   5|      TherapeuticsMD|   TXMD|    0.340956|   1.2800928| United States|
|   6|            Chimerix|   CMRX|    0.433204| 0.684925844| United States|
|   7|         Tingo Group|    TIO|    0.456954|   0.5257524| United States|
|   8|      Canacol Energy| CNE.TO|    0.462276|2.0054711004|        Canada|
|   9|           CR Energy|CRZK.DE|    0.517095| 5.083111356|       Germany|
|  10|        Vital Energy|   VTLE|    0.532125|  20.3367124| United States|
|  11|GO (Etihad Atheeb...|7040.SR|    0.561111|18.954059784|  Saudi Arabia|
|  12|Transcontinental ...|    TCI|    0.563821|   21.944448| United States|
|  13|               Akili|   AKLI|    0.581744| 0.330004876| United States|
|  14|Assertio Therapeu...|   ASRT|        0.59| 0.906656204| United States|
|  15|      Amplify Energy|   AMPY|    0.591328|    4.857495| United States|
|  16|Jastrzebska Spólk...| JSW.WA|    0.641092|5.0848562444|        Poland|
|  17|              JanOne|    JAN|    0.642651|   1.6991708| United States|
|  18|                Qiwi|QIWI.ME|    0.669488|   1.9506176|        Cyprus|
|  19|           Petrobras|    PBR|    0.710291|10.979234032|        Brazil|
|  20|Theravance Biopharma|   TBPH|    0.713028|   6.1490172|Cayman Islands|
+----+--------------------+-------+------------+------------+--------------+
only showing top 20 rows

In [0]:
companies_ranked_by_P_E_ratio.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- pe_ratio_ttm: double (nullable = true)
 |-- price (GBP): string (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_P_E_ratio = companies_ranked_by_P_E_ratio.withColumn("Rank", col("Rank").cast(IntegerType()))\
    .withColumn("price (GBP)", col("price (GBP)").cast(DoubleType()))

In [0]:
companies_ranked_by_P_E_ratio.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- pe_ratio_ttm: double (nullable = true)
 |-- price (GBP): double (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_revenue.show()

+----+--------------------+---------+----------------+-------------+--------------+
|Rank|                Name|   Symbol|     revenue_ttm|  price (GBP)|       country|
+----+--------------------+---------+----------------+-------------+--------------+
|   1|             Walmart|      WMT|      6.65035E11|   61.0291862| United States|
|   2|              Amazon|     AMZN|      6.04334E11|  143.4542092| United States|
|   3|        Saudi Aramco|  2222.SR| 4.9535480685E11| 5.5054048272|  Saudi Arabia|
|   4|             Sinopec|600028.SS|4.35696880608E11|0.74829500936|         China|
|   5|          PetroChina|601857.SS|4.29671599508E11| 0.9697693508|         China|
|   6|  Berkshire Hathaway|    BRK-B|      4.02877E11|  347.5375756| United States|
|   7|               Apple|     AAPL|      3.85603E11| 176.70690556| United States|
|   8|        UnitedHealth|      UNH|      3.81255E11|  441.4872436| United States|
|   9|          CVS Health|      CVS|      3.63248E11|   47.7291744| United States|
|  10|          Volkswagen|  VOW3.DE|3.50679303398E11|  79.99589452|       Germany|
|  11|         Exxon Mobil|      XOM|      3.40655E11|   87.8692272| United States|
|  12|   Alphabet (Google)|     GOOG|      3.28284E11|  126.2529622| United States|
|  13|China State Const...|601668.SS|3.19969725663E11|0.66443445372|         China|
|  14|            McKesson|      MCK|      3.13751E11|   371.626941| United States|
|  15|              Toyota|       TM| 3.0859883142E11|  136.2079696|         Japan|
|  16|               Shell|     SHEL|      3.02023E11|    50.136968|United Kingdom|
|  17|             Cencora|      COR|   2.83830824E11|  170.9381064| United States|
|  18|                 JBS| JBSS3.SA|2.81463003188E11| 4.2351565504|        Brazil|
|  19|            Glencore|    GLCNF|      2.55984E11|    4.3507916|   Switzerland|
|  20|              Costco|     COST|      2.53695E11|  684.6743972| United States|
+----+--------------------+---------+----------------+-------------+--------------+
only showing top 20 rows

In [0]:
companies_ranked_by_revenue.printSchema()

root
 |-- Rank: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- revenue_ttm: double (nullable = true)
 |-- price (GBP): string (nullable = true)
 |-- country: string (nullable = true)

In [0]:
companies_ranked_by_revenue = companies_ranked_by_revenue.withColumn("Rank", col("Rank").cast(IntegerType()))\
    .withColumn("price (GBP)", col("price (GBP)").cast(DoubleType()))

In [0]:
companies_ranked_by_revenue.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Symbol: string (nullable = true)
 |-- revenue_ttm: double (nullable = true)
 |-- price (GBP): double (nullable = true)
 |-- country: string (nullable = true)

In [0]:
# Top countries with the highest total dividend yield

country_dividend_yield = companies_ranked_by_dividend_yield.groupBy("country") \
    .agg(F.sum("dividend_yield_ttm").alias("total_dividend_yield")) \
    .orderBy(F.desc("total_dividend_yield"))

In [0]:
country_dividend_yield.show()

+--------------+--------------------+
|       country|total_dividend_yield|
+--------------+--------------------+
| United States|   995398.8273249988|
|       Hungary|           152386.92|
|        Israel|  123907.87729999996|
|        Canada|   70421.58260000001|
|     Hong Kong|   69356.73149999997|
|         Japan|   67933.74385000003|
|United Kingdom|   67116.37930000002|
|       Germany|  63641.740399999995|
|         China|   55523.84450000001|
|        France|  47046.088999999985|
|        Brazil|   39211.26079999999|
|         India|   37611.38812999999|
|  Saudi Arabia|  34260.626469999996|
|     Australia|  32510.654000000013|
|         Italy|  30123.929800000005|
|        Norway|  27187.520699999997|
|        Sweden|   24341.55161999999|
|   Switzerland|  24174.312299999998|
|       Bahrain|  23799.218000000008|
|     Singapore|          21719.4896|
+--------------+--------------------+
only showing top 20 rows

In [0]:
companies_ranked_by_revenue.show()

+----+--------------------+---------+----------------+-------------+--------------+
|Rank|                Name|   Symbol|     revenue_ttm|  price (GBP)|       country|
+----+--------------------+---------+----------------+-------------+--------------+
|   1|             Walmart|      WMT|      6.65035E11|   61.0291862| United States|
|   2|              Amazon|     AMZN|      6.04334E11|  143.4542092| United States|
|   3|        Saudi Aramco|  2222.SR| 4.9535480685E11| 5.5054048272|  Saudi Arabia|
|   4|             Sinopec|600028.SS|4.35696880608E11|0.74829500936|         China|
|   5|          PetroChina|601857.SS|4.29671599508E11| 0.9697693508|         China|
|   6|  Berkshire Hathaway|    BRK-B|      4.02877E11|  347.5375756| United States|
|   7|               Apple|     AAPL|      3.85603E11| 176.70690556| United States|
|   8|        UnitedHealth|      UNH|      3.81255E11|  441.4872436| United States|
|   9|          CVS Health|      CVS|      3.63248E11|   47.7291744| United States|
|  10|          Volkswagen|  VOW3.DE|3.50679303398E11|  79.99589452|       Germany|
|  11|         Exxon Mobil|      XOM|      3.40655E11|   87.8692272| United States|
|  12|   Alphabet (Google)|     GOOG|      3.28284E11|  126.2529622| United States|
|  13|China State Const...|601668.SS|3.19969725663E11|0.66443445372|         China|
|  14|            McKesson|      MCK|      3.13751E11|   371.626941| United States|
|  15|              Toyota|       TM| 3.0859883142E11|  136.2079696|         Japan|
|  16|               Shell|     SHEL|      3.02023E11|    50.136968|United Kingdom|
|  17|             Cencora|      COR|   2.83830824E11|  170.9381064| United States|
|  18|                 JBS| JBSS3.SA|2.81463003188E11| 4.2351565504|        Brazil|
|  19|            Glencore|    GLCNF|      2.55984E11|    4.3507916|   Switzerland|
|  20|              Costco|     COST|      2.53695E11|  684.6743972| United States|
+----+--------------------+---------+----------------+-------------+--------------+
only showing top 20 rows

In [0]:
# Filter companies with revenue greater than 500 billion GBP
high_revenue_companies = companies_ranked_by_revenue.filter(companies_ranked_by_revenue.revenue_ttm > 500_000_000_000)
high_revenue_companies.show()

+----+-------+------+-----------+-----------+-------------+
|Rank|   Name|Symbol|revenue_ttm|price (GBP)|      country|
+----+-------+------+-----------+-----------+-------------+
|   1|Walmart|   WMT| 6.65035E11| 61.0291862|United States|
|   2| Amazon|  AMZN| 6.04334E11|143.4542092|United States|
+----+-------+------+-----------+-----------+-------------+

In [0]:
# Count the number of companies per country
country_count = companies_ranked_by_revenue.groupBy("country") \
    .agg(F.count("Name").alias("company_count")) \
    .orderBy(F.desc("company_count"))

country_count.show()

+--------------------+-------------+
|             country|company_count|
+--------------------+-------------+
|       United States|         3706|
|               India|          585|
|              Canada|          471|
|      United Kingdom|          411|
|             Germany|          378|
|               Japan|          348|
|           Australia|          342|
|               China|          319|
|              France|          308|
|        Saudi Arabia|          225|
|         Switzerland|          196|
|              Sweden|          190|
|              Israel|          150|
|           Hong Kong|          148|
|United Arab Emirates|          142|
|              Poland|          107|
|         South Korea|          104|
|              Norway|          103|
|              Taiwan|          101|
|               Italy|           93|
+--------------------+-------------+
only showing top 20 rows

In [0]:
companies_ranked_by_dividend_yield.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/WorldTopCompaniesFinancialAnalysis/transformed-data/companies_ranked_by_dividend_yield")

In [0]:
companies_ranked_by_earnings.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/WorldTopCompaniesFinancialAnalysis/transformed-data/companies_ranked_by_earnings")
companies_ranked_by_market_cap.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/WorldTopCompaniesFinancialAnalysis/transformed-data/companies_ranked_by_market_cap")
companies_ranked_by_P_E_ratio.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/WorldTopCompaniesFinancialAnalysis/transformed-data/companies_ranked_by_P_E_ratio")
companies_ranked_by_revenue.repartition(1).write.mode("overwrite").option("header","true").csv("/mnt/WorldTopCompaniesFinancialAnalysis/transformed-data/companies_ranked_by_revenue")